<div class="container center">
  <div class="post">
    <span>Title:</span>
    <input type="text" id="idea-title">

    <span>Body:</span>
    <input type="text" id="idea-body">

    <span>Quality:</span>
    <select id='idea-quality'>
      <option value="swill">Swill</option>
      <option value="genius">Genius</option>
      <option value="plausible">Plausible</option>
    </select>
    <input type="button" value="submit" id="create">
  </div>


  <div class="ideas">
  </div>

</div>
