<div class="container center">
  <h1>IdeaBox:</h1>
  <div class="post">
    <span>Title:</span>
    <input type="text" id="idea-title">

    <span>Body:</span>
    <input type="text" id="idea-body">

    <span>Quality:</span>
    <select id='idea-quality'>
      <option value="swill">Swill</option>
      <option value="genius">Genius</option>
      <option value="plausible">Plausible</option>
    </select>
    <br><br>
    <input type="button" value="submit" id="create" class="btn btn-default btn-xs">
  </div>
  <br><br>

  <div class="ideas">
  </div>

</div>
